{{ if .Values.service.rabbitmq | default .Values.docker.services.rabbitmq.enabled }}
apiVersion: v1
kind: Service
metadata:
  labels:
    app.service: {{ .Values.resourcePrefix }}rabbitmq
  name: {{ .Values.resourcePrefix }}rabbitmq
spec:
  ports:
  - name: "5672"
    port: 5672
    targetPort: 5672
  - name: "15672"
    port: 15672
    targetPort: 15672
  selector:
    app.service: {{ .Values.resourcePrefix }}rabbitmq
status:
  loadBalancer: {}
{{ end }}
