
# Directories

/.my127ws
/.docker-sync/
/.github/
/bin/
/public/wp-content/uploads/
/vendor/

# Files

/.dockerignore
/docker-compose.yml
/docker-sync.yml
/phpcs.xml
/phpmd.xml
/behat.yml
/public/wp-config.php
/auth.json
/workspace.override.yml

# Keep
