
# Directories

/.my127ws
/.docker-sync/
/.github/
/bin/
/public/media/
/public/privatesales/
/public/var/
/tools/assets/
/vendor/

# Files

/.dockerignore
/auth.json
/docker-compose.yml
/docker-sync.yml
/env.sh
/mutagen.yml
/mutagen.yml.lock
/phpcs.xml
/phpmd.xml
/public/app/etc/local.xml
/public/app/etc/local.xml.harness.template
/public/errors/local.xml
/workspace.override.yml

# Keep
