{{- with .Values.services.elasticsearch -}}
{{- if .enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $.Values.resourcePrefix }}elasticsearch
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  labels:
    {{- include "chart.labels" $ | nindent 4 }}
    app.kubernetes.io/component: elasticsearch
    app.service: {{ $.Values.resourcePrefix }}elasticsearch
spec:
  replicas: 1
  selector:
    matchLabels:
      app.service: {{ $.Values.resourcePrefix }}elasticsearch
{{- if $.Values.persistence.elasticsearch.enabled }}
  strategy:
    type: Recreate
{{- end }}
  template:
    metadata:
      labels:
        {{- include "chart.selectors" $ | nindent 8 }}
        app.kubernetes.io/component: elasticsearch
        app.service: {{ $.Values.resourcePrefix }}elasticsearch
    spec:
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
      containers:
      - env:
        - name: ES_JAVA_OPTS
          value: -Xmx512m -Xms512m
        - name: discovery.type
          value: single-node
        image: {{ .image | quote }}
        imagePullPolicy: Always
        name: elasticsearch
        ports:
        - containerPort: 9200
        resources:
          limits:
            memory: {{ .resources.memory }}
          requests:
            {{- with ((.resources.cpu | default (dict)).requests | default nil) }}
            cpu: {{ . }}
            {{- end }}
            memory: {{ .resources.memory }}
        readinessProbe:
          tcpSocket:
            port: 9200
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - name: {{ $.Values.resourcePrefix }}elasticsearch-persistent-storage
          mountPath: /usr/share/elasticsearch/data
      restartPolicy: Always
      volumes:
      - name: {{ $.Values.resourcePrefix }}elasticsearch-persistent-storage
{{- if $.Values.persistence.elasticsearch.enabled }}
        persistentVolumeClaim:
          claimName: {{ $.Values.resourcePrefix }}elasticsearch-pv-claim
{{- else }}
        emptyDir: {}
{{- end }}
status: {}
{{- end }}
{{- end }}
