{{ if .Values.service.redis_session }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-session
  labels:
    app.service: redis-session
spec:
  replicas: 1
  selector:
    matchLabels:
      app.service: php-fpm
  template:
    metadata:
      labels:
        app.service: redis-session
    spec:
      containers:
      - args:
        - redis-server
        - --maxmemory
        - "1073742000"
        - --maxmemory-policy
        - volatile-ttl
        image: redis:4-alpine
        name: redis-session
        ports:
        - containerPort: 6379
        resources: {}
        readinessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 5
          periodSeconds: 10
      restartPolicy: Always
status: {}
{{ end }}