includes:
    - vendor/mglaman/phpstan-drupal/extension.neon
    - vendor/jangregor/phpstan-prophecy/src/extension.neon
    - .my127ws/application/static/phpstan.neon

parameters:
    level: max
    paths:
        - docroot/modules/custom
