{{- with .Values.services.postgres -}}
{{- if .enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $.Values.resourcePrefix }}postgres
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  labels:
    {{- include "chart.labels" $ | nindent 4 }}
    app.kubernetes.io/component: postgres
    app.service: {{ $.Values.resourcePrefix }}postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app.service: {{ $.Values.resourcePrefix }}postgres
{{- if $.Values.persistence.postgres.enabled }}
  strategy:
    type: Recreate
{{- end }}
  template:
    metadata:
      labels:
        {{- include "chart.selectors" $ | nindent 8 }}
        app.kubernetes.io/component: postgres
        app.service: {{ $.Values.resourcePrefix }}postgres
    spec:
      containers:
      - env:
        {{- range $key, $value := (mergeOverwrite (dict) .environment .environment_dynamic) }}
        - name: {{ $key | quote }}
          value: {{ $value | quote }}
        {{- end }}
        {{- if .environment_secrets }}
        envFrom:
          - secretRef:
              name: {{ $.Values.resourcePrefix }}postgres
        {{- end }}
        image: {{ .image | quote }}
        imagePullPolicy: Always
        name: postgres
        ports:
        - containerPort: 5432
        resources:
          limits:
            memory: {{ .resources.memory }}
          requests:
            {{- with ((.resources.cpu | default (dict)).request | default nil) }}
            cpu: {{ . }}
            {{- end }}
            memory: {{ .resources.memory }}
        readinessProbe:
          tcpSocket:
            port: 5432
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - name: {{ $.Values.resourcePrefix }}postgres-persistent-storage
          mountPath: /var/lib/postgresql/data
      restartPolicy: Always
      volumes:
      - name: {{ $.Values.resourcePrefix }}postgres-persistent-storage
{{- if $.Values.persistence.postgres.enabled }}
        persistentVolumeClaim:
          claimName: {{ $.Values.resourcePrefix }}postgres-pv-claim
{{- else }}
        emptyDir: {}
{{- end }}
status: {}
{{- end }}
{{- end }}
