web/bundles/*
web/media/*
web/css/*
web/js/*
app/archive/*
app/config/parameters.yml
app/config/*_local.yml
app/import/*
app/export/*
app/emails/*
app/uploads/*
app/uploads/product/*
app/file_storage/*
app/bootstrap.php.cache
build/
vendor
/bin/*
!/bin/console
composer.phar
composer.lock

var/cache/*
var/logs/*
var/bootstrap.php.cache

node_modules
web/dist/*
web/cache/*
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Directories
/.my127ws
/.docker-sync/
/tools/assets/
/vendor/

# Files
/.dockerignore
/auth.json
/docker-compose.yml
/docker-sync.yml
/phpcs.xml
/phpmd.xml
/phpunit.xml
/workspace.override.yml
