# Akeneo Ignore list, via https://github.com/akeneo/pim-community-dev/blob/7874cda/.gitignore
# Customised to prefix, remove ignore of composer.lock, package-lock.json, etc.
/public/bundles/*
/public/media/*
/public/css/*
/public/js/*
/public/dist/*
/public/test_dist/*
/public/cache/*
/var/archive/*
/var/*
/var/uploads/*
/var/uploads/product/*
/var/file_storage/*
/app/phpunit.xml
/app/build
/vendor
/bin/symfony_requirements
/.phpspec/*.tpl
/composer.phar
/node_modules
/npm-debug.log
/docker-compose.override.yml
/yarn-error.log
/coverage/*
/.phpunit.result.cache
/.env.local
/.env.behat.local
/.env.test.local
/.env.dev.local
/.env.local.php
/config/gcp_credentials.json
/deployments/pim/charts/*

# Directories
/.my127ws
/.docker-sync/
/tools/assets/
/vendor/

# Files
/.dockerignore
/auth.json
/docker-compose.yml
/docker-sync.yml
/env.sh
/mutagen.yml
/mutagen.yml.lock
/phpcs.xml
/phpmd.xml
/phpunit.xml
/workspace.override.yml
