parameters:
  ignoreErrors:
    - message: "#^Parameter \\#\\d .* of function array_merge expects array, array\\<int, string\\>\\|false given\\.$#"
      count: 3
      path: src/Kernel.php
    - message: "#Generator expects value type Symfony\\\\Component\\\\HttpKernel\\\\Bundle\\\\BundleInterface, object given\\.#"
      reportUnmatched: false
      path: src/Kernel.php    
