30 1 * * * /cron-run-with-env.sh /app/bin/console pim:versioning:refresh --env=prod
0 2 * * * /cron-run-with-env.sh /app/bin/console pim:completeness:calculate --env=prod
20 0 1 * * /cron-run-with-env.sh /app/bin/console akeneo:batch:purge-job-execution --env=prod
0 1 * * * /cron-run-with-env.sh /app/bin/console pim:asset:send-expiration-notification --env=prod
30 4 * * * /cron-run-with-env.sh /app/bin/console pim:volume:aggregate --env=prod
0 4 * * * /cron-run-with-env.sh /app/bin/console pim:versioning:purge --more-than-days 90 --no-interaction --force --env=prod
0 5 * * * /cron-run-with-env.sh /app/bin/console akeneo:rule:run --env=prod
20 0 * * * /cron-run-with-env.sh /app/bin/console pimee:project:notify-before-due-date --env=prod
0 2 * * * /cron-run-with-env.sh /app/bin/console pimee:project:recalculate --env=prod
30 */1 * * * /cron-run-with-env.sh /app/bin/console pimee:franklin-insights:fetch-products --env=prod
0 23 * * * /cron-run-with-env.sh /app/bin/console akeneo:reference-entity:refresh-records --all --env=prod
