{{ if .Values.service.redis | default .Values.docker.services.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "chart.labels" $ | nindent 4 }}
    app.kubernetes.io/component: redis
    app.service: {{ .Values.resourcePrefix }}redis
  name: {{ .Values.resourcePrefix }}redis
spec:
  ports:
  - name: "6379"
    port: 6379
    targetPort: 6379
  selector:
    app.service: {{ .Values.resourcePrefix }}redis
status:
  loadBalancer: {}
{{ end }}