
# Directories

/.my127ws
/.docker-sync/
/.github/
/app/etc/*
/app/design/adminhtml/
/app/design/frontend/Magento/
/bin/
/dev/
/generated*
/lib/
/node_modules/
/phpserver/
/pub/
/setup/
/tools/assets/
/update/
/var/
/vendor/

# Files

/.dockerignore
/.htaccess*
/.php_cs*
/.travis.yml
/.travis.yml.sample
/.user.ini
/docker-compose.yml
/docker-sync.yml
/env.sh
/app/.htaccess
/app/*.php
/auth.json
/auth.json.sample
/CHANGELOG.md
/CONTRIBUTING.md
/COPYING.txt
/Gruntfile.js.sample
/grunt-config.json.sample
/index.php
/ISSUE_TEMPLATE.md
/LICENSE.txt
/LICENSE_AFL.txt
/LICENSE_EE.txt
/mutagen.yml
/mutagen.yml.lock
/nginx.conf.sample
/package.json.sample
/PULL_REQUEST_TEMPLATE.md
/php.ini.sample
/phpcs.xml
/phpmd.xml
/README_EE.md
/SECURITY.md
/workspace.override.yml

# Keep

!/app/etc/config.php
!/app/etc/InviqaNonComposerComponentRegistration.php
