includes:
    - .my127ws/application/static/phpstan.neon
parameters:
    level: max
    bootstrapFiles:
        - tools/devtools-bootstrap.php
    paths:
        - src
    excludes_analyse:
        - */src/**/registration.php
