{{- with (include "service.resolved" (dict "root" $ "service_name" "cron") | fromYaml) -}}
{{- if .enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $.Values.resourcePrefix }}cron
  labels:
    {{- include "chart.labels" $ | nindent 4 }}
    app.kubernetes.io/component: cron
    app.service: {{ $.Values.resourcePrefix }}cron
  annotations:
    argocd.argoproj.io/sync-wave: "15"
spec:
  {{- with (pick . "replicas") }}
  {{- . | toYaml | nindent 2 }}
  {{- end }}
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app.service: {{ $.Values.resourcePrefix }}cron
  template:
    metadata:
      labels:
        {{- include "chart.selectors" $ | nindent 8 }}
        app.kubernetes.io/component: cron
        app.service: {{ $.Values.resourcePrefix }}cron
    spec:
      {{- if not (eq "" (include "application.volumes.wwwDataPaths" $)) }}
      initContainers:
      - name: cron-volume-permissions
        image: busybox
        command:
        - "/bin/chown"
        - "-R"
        - "www-data"
        {{- include "application.volumes.wwwDataPaths" $ | indent 8 }}
        volumeMounts:
        {{- if not (and (eq "" (include "application.volumeMounts.backend" $)) (eq "" (include "application.volumeMounts.all" $)) ) }}
        {{- include "application.volumeMounts.backend" $ | indent 8 }}
        {{- include "application.volumeMounts.all" $ | indent 8 }}
        {{- else }} []
        {{- end }}
      {{- end }}
      containers:
      - name: cron
        env:
        {{- range $key, $value := (mergeOverwrite (dict) .environment .environment_dynamic) }}
        {{- $tp := typeOf $value }}
        - name: {{ $key | quote }}
        {{- if eq $tp "string" }}
          value: {{ tpl $value $ | quote }}
        {{- else}}
          value: {{ $value | quote }}
        {{- end }}
        {{- end }}
        {{- if .environment_secrets }}
        envFrom:
          - secretRef:
              name: {{ $.Values.resourcePrefix }}cron
        {{- end }}
        image: {{ .image }}
        imagePullPolicy: Always
        resources:
          limits:
            memory: {{ .resources.memory }}
          requests:
            memory: {{ .resources.memory }}
        volumeMounts:
        {{- if not (and (eq "" (include "application.volumeMounts.backend" $)) (eq "" (include "application.volumeMounts.all" $)) ) }}
        {{- include "application.volumeMounts.backend" $ | indent 8 }}
        {{- include "application.volumeMounts.all" $ | indent 8 }}
        {{- else }} []
        {{- end }}
{{- if $.Values.docker.image_pull_config }}
      imagePullSecrets:
      - name: {{ $.Values.resourcePrefix }}image-pull-config
{{- end }}
      restartPolicy: Always
      enableServiceLinks: false
      volumes:
      {{- if not (and (eq "" (include "application.volumes.backend" $)) (eq "" (include "application.volumes.all" $)) ) }}
      {{- include "application.volumes.backend" $ | indent 6 }}
      {{- include "application.volumes.all" $ | indent 6 }}
      {{- else }} []
      {{- end }}
status: {}
{{- end }}
{{- end }}
