{{- with .Values.services.varnish -}}
{{- if .enabled -}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ $.Values.resourcePrefix }}varnish
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  labels:
    {{- include "chart.labels" $ | nindent 4 }}
    app.kubernetes.io/component: varnish
    app.service: {{ $.Values.resourcePrefix }}varnish
spec:
  replicas: {{ $.Values.replicas.varnish }}
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app.service: {{ $.Values.resourcePrefix }}varnish
  serviceName: {{ $.Values.resourcePrefix }}varnish-headless
  template:
    metadata:
      creationTimestamp: null
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/service/varnish/configmap.yaml") $ | sha256sum }}
      labels:
        {{- include "chart.selectors" $ | nindent 8 }}
        app.kubernetes.io/component: varnish
        app.service: {{ $.Values.resourcePrefix }}varnish
    spec:
      affinity: {{- include "pod.affinity" (dict "root" $ "serviceName" "varnish" "service" .) | nindent 8 }}
      containers:
      - name: varnish
        image: {{ .image | quote }}
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: {{ .resources.memory }}
          requests:
            {{- with ((.resources.cpu | default (dict)).request | default nil) }}
            cpu: {{ . }}
            {{- end }}
            memory: {{ .resources.memory }}
        readinessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - name: {{ $.Values.resourcePrefix }}varnish-configuration
          mountPath: /etc/varnish/
        - name: {{ $.Values.resourcePrefix }}varnish-cache
          mountPath: /var/lib/varnish
      restartPolicy: Always
      volumes:
      - name: {{ $.Values.resourcePrefix }}varnish-configuration
        configMap:
          name: {{ $.Values.resourcePrefix }}varnish-configuration
      - name: {{ $.Values.resourcePrefix }}varnish-cache
        emptyDir:
          medium: Memory
{{- end }}
{{- end }}
