{{ if .Values.service.varnish | default .Values.docker.services.varnish.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Values.resourcePrefix }}varnish
  labels:
    app.service: {{ .Values.resourcePrefix }}varnish
spec:
  replicas: {{ .Values.replicas.varnish }}
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app.service: {{ .Values.resourcePrefix }}varnish
  serviceName: {{ .Values.resourcePrefix }}varnish-headless
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.service: {{ .Values.resourcePrefix }}varnish
    spec:
      containers:
      - name: varnish
        image: {{ .Values.docker.services.varnish.image | quote }}
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: {{ .Values.resources.memory.varnish }}
          requests:
            memory: {{ .Values.resources.memory.varnish }}
        readinessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - name: {{ .Values.resourcePrefix }}varnish-configuration
          mountPath: /etc/varnish/
        - name: {{ .Values.resourcePrefix }}varnish-cache
          mountPath: /var/lib/varnish
      restartPolicy: Always
      volumes:
      - name: {{ .Values.resourcePrefix }}varnish-configuration
        configMap:
          name: {{ .Values.resourcePrefix }}varnish-configuration
      - name: {{ .Values.resourcePrefix }}varnish-cache
        emptyDir:
          medium: Memory
{{ end }}
