{{ if .Values.service.mysql | default .Values.docker.services.mysql.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.resourcePrefix }}mysql
  labels:
    app.service: {{ .Values.resourcePrefix }}mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app.service: {{ .Values.resourcePrefix }}mysql
{{- if .Values.persistence.mysql.enabled }}
  strategy:
    type: Recreate
{{- end }}
  template:
    metadata:
      labels:
        app.service: {{ .Values.resourcePrefix }}mysql
    spec:
      containers:
      - env:
        {{- range $key, $value := .Values.docker.services.mysql.environment }}
        - name: {{ $key | quote }}
          value: {{ $value | quote }}
        {{- end }}
        {{- if .Values.docker.services.mysql.environment_secrets }}
        envFrom:
          - secretRef:
              name: {{ .Values.resourcePrefix }}mysql
        {{- end }}
        image: {{ .Values.docker.image.mysql | default .Values.docker.services.mysql.image | quote }}
        imagePullPolicy: Always
        name: mysql
        args:
        - --ignore-db-dir
        - lost+found
        ports:
        - containerPort: 3306
        resources:
          limits:
            memory: {{ .Values.resources.memory.mysql }}
          requests:
            memory: {{ .Values.resources.memory.mysql }}
        readinessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - name: {{ .Values.resourcePrefix }}mysql-persistent-storage
          mountPath: /var/lib/mysql
      restartPolicy: Always
      volumes:
      - name: {{ .Values.resourcePrefix }}mysql-persistent-storage
{{- if .Values.persistence.mysql.enabled }}
        persistentVolumeClaim:
          claimName: {{ .Values.resourcePrefix }}mysql-pv-claim
{{- else }}
        emptyDir: {}
{{- end }}
status: {}
{{ end }}
