{{ if .Values.service.mysql }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  labels:
    app.service: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app.service: mysql
  template:
    metadata:
      labels:
        app.service: mysql
    spec:
      containers:
      - env:
        - name: MYSQL_DATABASE
          value: {{ .Values.environment.DB_NAME }}
        - name: MYSQL_PASSWORD
          value: {{ .Values.environment.DB_PASS }}
        - name: MYSQL_ROOT_PASSWORD
          value: {{ .Values.environment.DB_ROOT_PASS }}
        - name: MYSQL_USER
          value: {{ .Values.environment.DB_USER }}
        image: mysql:5.7
        imagePullPolicy: Always
        name: mysql
        args:
        - --ignore-db-dir
        - lost+found
        ports:
        - containerPort: 3306
        resources:
          limits:
            memory: {{ .Values.resources.limits.memory.mysql }}
          requests:
            memory: {{ .Values.resources.requests.memory.mysql }}
        readinessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
      restartPolicy: Always
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: mysql-pv-claim
status: {}
{{ end }}
