{{- $service_php_fpm := mergeOverwrite (dict) (index .Values.docker.services "php-base") (index .Values.docker.services "php-fpm") (dict "environment" .Values.environment) -}}
{{- if .Values.docker.services.webapp.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.resourcePrefix }}webapp
  labels:
    app.service: {{ .Values.resourcePrefix }}webapp
  annotations:
    argocd.argoproj.io/sync-wave: "15"
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app.service: {{ .Values.resourcePrefix }}webapp
  template:
    metadata:
      labels:
        app.service: {{ .Values.resourcePrefix }}webapp
    spec:
      {{- if and $service_php_fpm.enabled (not (eq "" (include "application.volumes.wwwDataPaths" .))) }}
      initContainers:
      - name: webapp-volume-permissions
        image: busybox
        command:
        - "/bin/chown"
        - "-R"
        - "www-data"
        {{- include "application.volumes.wwwDataPaths" . | indent 8 }}
        volumeMounts:
        {{- if not (and (eq "" (include "application.volumeMounts.backend" .)) (eq "" (include "application.volumeMounts.all" .)) ) }}
        {{- include "application.volumeMounts.backend" . | indent 8 }}
        {{- include "application.volumeMounts.all" . | indent 8 }}
        {{- else }} []
        {{- end }}
      {{- end }}
      containers:
      {{- with .Values.docker.services.nginx }}
      - name: nginx
        env:
        {{- range $key, $value := .environment }}
        {{- $tp := typeOf $value }}
        - name: {{ $key | quote }}
        {{- if eq $tp "string" }}
          value: {{ tpl $value $ | quote }}
        {{- else}}
          value: {{ $value | quote }}
        {{- end }}
        {{- end }}
        {{- if .environment_secrets }}
        envFrom:
          - secretRef:
              name: {{ $.Values.resourcePrefix }}nginx
        {{- end }}
        image: {{ $.Values.docker.image.nginx | default .image }}
        imagePullPolicy: Always
        ports:
        - name: http
          containerPort: 80
        resources:
          limits:
            memory: {{ $.Values.resources.memory.nginx | default .resources.memory }}
          requests:
            memory: {{ $.Values.resources.memory.nginx | default .resources.memory }}
        readinessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        {{- if not (eq "" (include "application.volumeMounts.all" $)) }}
        {{- include "application.volumeMounts.all" $ | indent 8 }}
        {{- else }} []
        {{- end }}
      {{- end }}

      {{- with $service_php_fpm }}
      - name: php-fpm
        env:
        {{- range $key, $value := .environment }}
        {{- $tp := typeOf $value }}
        - name: {{ $key | quote }}
        {{- if eq $tp "string" }}
          value: {{ tpl $value $ | quote }}
        {{- else}}
          value: {{ $value | quote }}
        {{- end }}
        {{- end }}
        {{- if .environment_secrets }}
        envFrom:
          - secretRef:
              name: {{ $.Values.resourcePrefix }}php-fpm
        {{- end }}
        image: {{ $.Values.docker.image.fpm | default .image | quote }}
        imagePullPolicy: Always
        ports:
        - containerPort: 9000
        resources:
          limits:
            memory: {{ $.Values.resources.memory.php_fpm | default .resources.memory }}
          requests:
            memory: {{ $.Values.resources.memory.php_fpm | default .resources.memory }}
        readinessProbe:
          tcpSocket:
            port: 9000
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        {{- if not (and (eq "" (include "application.volumeMounts.backend" $)) (eq "" (include "application.volumeMounts.all" $)) ) }}
        {{- include "application.volumeMounts.backend" $ | indent 8 }}
        {{- include "application.volumeMounts.all" $ | indent 8 }}
        {{- else }} []
        {{- end }}
      {{- end }}

      {{- with index .Values.docker.services "php-fpm-exporter" }}
      {{- if $.Values.service.php_fpm_exporter | default .enabled }}
      - name: php-fpm-exporter
        env:
        {{- range $key, $value := .environment }}
        {{- $tp := typeOf $value }}
        - name: {{ $key | quote }}
        {{- if eq $tp "string" }}
          value: {{ tpl $value $ | quote }}
        {{- else}}
          value: {{ $value | quote }}
        {{- end }}
        {{- end }}
        image: {{ .image | quote }}
        imagePullPolicy: Always
        ports:
        - name: php-fpm-metrics
          containerPort: 9253
        resources:
          limits:
            memory: {{ $.Values.resources.memory.php_fpm_exporter | default .resources.memory }}
          requests:
            memory: {{ $.Values.resources.memory.php_fpm_exporter | default .resources.memory }}
        readinessProbe:
          tcpSocket:
            port: 9253
          initialDelaySeconds: 5
          periodSeconds: 10
      {{- end }}
      {{- end }}
{{- if .Values.docker.image_pull_config }}
      imagePullSecrets:
      - name: {{ .Values.resourcePrefix }}image-pull-config
{{- end }}
      restartPolicy: Always
      enableServiceLinks: false
      volumes:
      {{- if not (and (eq "" (include "application.volumes.backend" .)) (eq "" (include "application.volumes.all" .)) ) }}
      {{- include "application.volumes.backend" . | indent 6 }}
      {{- include "application.volumes.all" . | indent 6 }}
      {{- else }} []
      {{- end }}
status: {}
{{- end }}
