{{ if eq .Values.ingress "standard" }}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
{{- if .Values.docker.services.nginx.ingress.annotations }}
  annotations:
  {{- range $key, $value := .Values.docker.services.nginx.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
{{- end }}
  creationTimestamp: null
  labels:
    app.service: {{ .Values.resourcePrefix }}webapp
  name: {{ .Values.resourcePrefix }}webapp
spec:
  rules:
  - host: {{ index .Values.docker.services "php-base" "environment" "APP_HOST" }}
    http:
      paths:
      - backend:
          serviceName: {{ .Values.resourcePrefix }}webapp
          servicePort: 80
status:
  loadBalancer: {}
{{ end }}
