{{- if .Values.prometheus.podMonitoring -}}
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: {{ .Values.resourcePrefix }}webapp
  labels:
    app.service: {{ .Values.resourcePrefix }}webapp
spec:
  selector:
    matchLabels:
      app.service: {{ .Values.resourcePrefix }}webapp
  podMetricsEndpoints:
{{- if .Values.docker.services.nginx.metricsEnabled -}}
{{ .Values.docker.services.nginx.metricsEndpoints | toYaml | nindent 6 -}}
{{- end -}}
{{- if and (.Values.service.php_fpm_exporter | default (index .Values.docker.services "php-fpm-exporter" "enabled")) (index .Values.docker.services "php-fpm-exporter" "metricsEnabled") -}}
{{ index .Values.docker.services "php-fpm-exporter" "metricsEndpoints" | toYaml | nindent 6 -}}
{{- end -}}
{{- end -}}
