# Directories
/.my127ws
/.docker-sync/
/.github/
/.idea
/bin/
/tools/assets/
/src/Generated/
/vendor/
/data/*
!/data/import/
/.grunt
/.sass-cache
/node_modules/
/public/Yves/assets/
/public/Zed/assets/
/profiler
/tests/_log/*
!/tests/_log/.gitkeep
/tests/_output/*
!/tests/_output/.gitkeep
/tests/_support/_generated/*
!/tests/_support/_generated/.gitkeep
/tests/PyzTest/*/*/_output/*
/tests/PyzTest/*/*/_support/_generated/*
/src/Propel/Base/*
/src/Propel/Map/*
/src/Orm/Zed/*/Persistence/Base
/src/Orm/Zed/*/Persistence/Map
/src/Orm/Propel/*/Config/*
/src/Orm/Propel/*/Schema
/src/Orm/Propel/*/Sql

# Files
.DS_Store
/.dockerignore
/auth.json
/c3.php
/docker-compose.yml
/docker-sync.yml
/env.sh
/mutagen.yml
/mutagen.yml.lock
/npm-debug.log
/public/Yves/maintenance/maintenance.marker
/public/Zed/maintenance/maintenance.marker
/workspace.override.yml
