parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$rawCatalogSearchResultFormatterPlugin of class Spryker\\\\Client\\\\CatalogPriceProductConnector\\\\Plugin\\\\CurrencyAwareSuggestionByTypeResultFormatter constructor expects Spryker\\\\Client\\\\Search\\\\Dependency\\\\Plugin\\\\ResultFormatterPluginInterface, Spryker\\\\Client\\\\SearchElasticsearch\\\\Plugin\\\\ResultFormatter\\\\SuggestionByTypeResultFormatterPlugin given\\.$#"
			count: 1
			path: src/Pyz/Client/Catalog/CatalogDependencyProvider.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, string given\\.$#"
			count: 1
			path: src/Pyz/Yves/ProductSetWidget/Widget/ProductSetIdsWidget.php

		-
			message: "#^Parameter \\#2 \\$default of method Symfony\\\\Component\\\\HttpFoundation\\\\InputBag\\:\\:get\\(\\) expects bool\\|float\\|int\\|string\\|null, array given\\.$#"
			count: 1
			path: src/Pyz/Yves/ProductSetWidget/Widget/ProductSetIdsWidget.php

		-
			message: "#^Parameter \\#2 \\$serverUniqueId of method Spryker\\\\Zed\\\\Queue\\\\Business\\\\Process\\\\ProcessManager\\:\\:__construct\\(\\) expects string, int given\\.$#"
			count: 1
			path: src/Pyz/Zed/Queue/Business/Process/ProcessManager.php

		-
			message: "#^Parameter \\#2 \\$serverUniqueId of class Pyz\\\\Zed\\\\Queue\\\\Business\\\\Process\\\\ProcessManager constructor expects int, string given\\.$#"
			count: 1
			path: src/Pyz/Zed/Queue/Business/QueueBusinessFactory.php

		-
			message: "#^Parameter \\#3 \\$queueConfig of class Pyz\\\\Zed\\\\Queue\\\\Business\\\\Process\\\\ProcessManager constructor expects Pyz\\\\Zed\\\\Queue\\\\QueueConfig, Spryker\\\\Zed\\\\Queue\\\\QueueConfig given\\.$#"
			count: 1
			path: src/Pyz/Zed/Queue/Business/QueueBusinessFactory.php
