parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$array of function array_filter expects array, string given\\.$#"
			count: 1
			path: src/Pyz/Yves/ProductSetWidget/Widget/ProductSetIdsWidget.php

		-
			message: "#^Parameter \\#2 \\$default of method Symfony\\\\Component\\\\HttpFoundation\\\\InputBag\\:\\:get\\(\\) expects bool\\|float\\|int\\|string\\|null, array given\\.$#"
			count: 1
			path: src/Pyz/Yves/ProductSetWidget/Widget/ProductSetIdsWidget.php
