apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app.service: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app.service: nginx
  template:
    metadata:
      labels:
        app.service: nginx
    spec:
      containers:
      - env:
        {{ range $key, $value := .Values.nginx.environment }}
        - name: {{ $key }}
          value: "{{ $value }}"
        {{ end }}
        image: {{ .Values.docker.image.nginx }}
        imagePullPolicy: Always
        name: nginx
        ports:
        - containerPort: 80
        resources: {}
        readinessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
      imagePullSecrets:
      - name: docker-config
      restartPolicy: Always
status: {}
