{{- with mergeOverwrite (dict) (index .Values.docker.services "php-base") (index .Values.docker.services "console") (dict "environment" .Values.environment) -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ $.Values.resourcePrefix }}app-init
  annotations:
    helm.sh/hook: "post-install"
    helm.sh/hook-delete-policy: "before-hook-creation"
    argocd.argoproj.io/hook: "Sync"
    argocd.argoproj.io/hook-delete-policy: "BeforeHookCreation"
    argocd.argoproj.io/sync-wave: "5"
  labels:
    {{- include "chart.labels" $ | nindent 4 }}
    app.kubernetes.io/component: app-init
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        {{- include "chart.labels" $ | nindent 8 }}
        app.kubernetes.io/component: app-init
    spec:
      restartPolicy: Never
      containers:
      - env:
        {{- range $key, $value := .environment }}
        {{- $tp := typeOf $value }}
        - name: {{ $key | quote }}
        {{- if eq $tp "string" }}
          value: {{ tpl $value $ | quote }}
        {{- else }}
          value: {{ $value | quote }}
        {{- end }}
        {{- end }}
        {{- if .environment_secrets }}
        envFrom:
          - secretRef:
              name: {{ $.Values.resourcePrefix }}console
        {{- end }}
        image: {{ $.Values.docker.image.console | default .image | quote }}
        imagePullPolicy: Always
        name: app-init
{{ if eq $.Values.ingress.type "istio" }}
        command: ["/bin/sh"]
        args: ["-c", "/entrypoint.sh app init ; code=$? ; curl -vv -XPOST http://127.0.0.1:15020/quitquitquit ; exit $code"]
{{ else }}
        command: ["/entrypoint.sh"]
        args: ["app", "init"]
{{ end }}
        resources:
          limits:
            memory: {{ $.Values.resources.memory.app_init }}
          requests:
            memory: {{ $.Values.resources.memory.app_init }}
        volumeMounts:
        {{- if not (eq "" (include "application.volumeMounts.console" $)) }}
        {{- include "application.volumeMounts.console" $ | indent 8 }}
        {{- else }} []
        {{- end }}
{{- if $.Values.docker.image_pull_config }}
      imagePullSecrets:
      - name: {{ $.Values.resourcePrefix }}image-pull-config
{{- end }}
      restartPolicy: Never
      enableServiceLinks: false
      volumes:
      {{- if not (eq "" (include "application.volumes.console" $)) }}
      {{- include "application.volumes.console" $ | indent 6 }}
      {{- else }} []
      {{- end }}
{{- end }}
