
command('enable'):
  env:
    USE_MUTAGEN:          = @('host.os') == 'darwin' and @('mutagen') == 'yes' ? 'yes':'no'
    APP_BUILD:            = @('app.build')
    APP_MODE:             = @('app.mode')
    NAMESPACE:            = @('namespace')
    HAS_ASSETS:           = @('aws.bucket') !== null and @('aws.bucket') !== '' ? 'yes':'no'
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)
    source .my127ws/harness/scripts/enable.sh

command('disable'):
  env:
    USE_MUTAGEN:          = @('host.os') == 'darwin' and @('mutagen') == 'yes' ? 'yes':'no'
    NAMESPACE:            = @('namespace')
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)
    source .my127ws/harness/scripts/disable.sh

command('destroy'):
  env:
    NAMESPACE:            = @('namespace')
    APP_BUILD:            = @('app.build')
    APP_VERSION:          = @('app.version')
    DOCKER_REPOSITORY:    = @('docker.repository')
    USE_MUTAGEN:          = @('host.os') == 'darwin' and @('mutagen') == 'yes' ? 'yes':'no'
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)|@
    source .my127ws/harness/scripts/destroy.sh

command('networks external'):
  env:
    NETWORKS: = get_docker_external_networks()
  exec: |
    #!bash(workspace:/)
    for NETWORK in ${NETWORKS}; do
      if ! docker network inspect "${NETWORK}" >/dev/null 2>&1; then
        passthru docker network create "${NETWORK}"
      fi
    done

command('exec %'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)|=
    if [ -t 0 ] && [ -t 1 ] ; then
      docker-compose exec -u build console ={ input.argument('%') }
    else
      docker-compose exec -T -u build console ={ input.argument('%') }
    fi

command('logs %'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(harness:/)|=
    docker-compose logs ={input.argument('%')}

command('ps'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)|@
    docker-compose ps

command('console'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)|@
    passthru docker-compose exec -u build console bash

command('composer %'):
  exec: |
    #!bash(workspace:/)|=
    passthru ws exec composer ={ input.argument('%') }

command('db-console'): |
  #!bash
  ws db console

command('db console'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)|@
    passthru "docker-compose exec console bash -c 'mysql --host \"\$DB_HOST\" --user \"\$DB_USER\" -p\"\$DB_PASS\" \"\$DB_NAME\"'"

command('assets download'):
  env:
    AWS_ACCESS_KEY_ID: = @('aws.access_key_id')
    AWS_ID: = @('aws.access_key_id')
    AWS_KEY: = @('aws.secret_access_key')
    AWS_SECRET_ACCESS_KEY: = @('aws.secret_access_key')
  exec: |
    #!bash(workspace:/)|@
    passthru ws.aws s3 sync '@('assets.remote')' '@('assets.local')'

command('assets upload'):
  env:
    AWS_ACCESS_KEY_ID: = @('aws.access_key_id')
    AWS_ID: = @('aws.access_key_id')
    AWS_KEY: = @('aws.secret_access_key')
    AWS_SECRET_ACCESS_KEY: = @('aws.secret_access_key')
  exec: |
    #!bash(workspace:/)|@
    passthru ws.aws s3 sync '@('assets.local')' '@('assets.remote')'

command('frontend build'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)|@
    passthru docker-compose exec -u build console app build:frontend

command('frontend watch'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)|@
    # Use `bash -i` to load up /home/build/.bashrc, which sets up node version manager (nvm) paths
    docker-compose exec -u build --workdir '@('frontend.path')' console bash -i -c '@('frontend.watch')'

command('frontend console'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)|@
    # Use `bash -i` to load up /home/build/.bashrc, which sets up node version manager (nvm) paths
    passthru docker-compose exec -u build --workdir '@('frontend.path')' console bash -i

command('port <service>'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)|=
    passthru docker port "$(docker-compose ps -q ={input.argument('service')})"

command('service php-fpm restart'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)|@
    passthru ws install --step=prepare
    docker-compose exec console bash -c 'cp -r /.my127ws/docker/image/console/root/usr/local/etc/php/conf.d/* /usr/local/etc/php/conf.d/'
    docker-compose exec php-fpm bash -c 'cp -r /.my127ws/docker/image/php-fpm/root/usr/local/etc/php/conf.d/* /usr/local/etc/php/conf.d/'
    passthru docker-compose exec php-fpm supervisorctl restart php-fpm

command('set <attribute> <value>'):
  env:
    ATTR_KEY: = input.argument('attribute')
    ATTR_VAL: = input.argument('value')
  exec: |
    #!bash(workspace:/)|=
    if [ ! -f workspace.override.yml ]; then
      touch workspace.override.yml
    fi
    if grep -q "attribute('${ATTR_KEY}'):" workspace.override.yml; then
      echo "Removing old '${ATTR_KEY}' setting from workspace.override.yml"
      sed "/^attribute('${ATTR_KEY}'): .*$/d" workspace.override.yml > workspace.override.yml.tmp && mv workspace.override.yml.tmp workspace.override.yml
    fi
    if grep -q "attribute('${ATTR_KEY}'):" workspace.override.yml; then
      echo 'Could not remove line from workspace.override.yml, failing'
      exit 1
    fi
    echo "Setting '${ATTR_KEY}' setting to '${ATTR_VAL}' in workspace.override.yml"
    echo "attribute('${ATTR_KEY}'): ${ATTR_VAL}" >> workspace.override.yml

command('feature blackfire (on|off)'):
  env:
    ATTR_KEY: 'php.ext-blackfire.enable'
    ATTR_VAL: = input.command(3) == 'on' ? 'yes':'no'
  exec: |
    #!bash(workspace:/)|=
    ws set $ATTR_KEY $ATTR_VAL
    echo 'Updating templates in .my127ws/'
    run ws install --step=prepare
    echo 'Bringing up php-fpm with the new setting'
    run ws service php-fpm restart
    echo 'Done'

command('feature blackfire cli (on|off)'):
  env:
    ATTR_KEY: 'php.ext-blackfire.cli.enable'
    ATTR_VAL: = input.command(4) == 'on' ? 'yes':'no'
  exec: |
    #!bash(workspace:/)|=
    ws set $ATTR_KEY $ATTR_VAL
    echo 'Updating templates in .my127ws/'
    run ws install --step=prepare
    echo 'Bringing up console with the new setting'
    run ws service

command('feature tideways (on|off)'):
  env:
    ATTR_KEY: 'php.ext-tideways.enable'
    ATTR_VAL: = input.command(3) == 'on' ? 'yes':'no'
  exec: |
    #!bash(workspace:/)|=
    ws set $ATTR_KEY $ATTR_VAL
    echo 'Updating templates in .my127ws/'
    run ws install --step=prepare
    echo 'Bringing up php-fpm with the new setting'
    run ws service php-fpm restart
    echo 'Done'

command('feature tideways cli (on|off)'):
  env:
    ATTR_KEY: 'php.ext-tideways.cli.enable'
    ATTR_VAL: = input.command(4) == 'on' ? 'yes':'no'
  exec: |
    #!bash(workspace:/)|=
    ws set $ATTR_KEY $ATTR_VAL
    echo 'Updating templates in .my127ws/'
    run ws install --step=prepare
    echo 'Bringing up console with the new setting'
    run ws service php-fpm restart
    echo 'Done'

command('feature tideways cli configure <server_key>'):
  env:
    TIDEWAYS_SERVERKEY: = input.argument('server_key')
  exec: |
    #!bash(workspace:/)|=
    echo "Importing Provided Tideways CLI Key (from https://app.tideways.io/user/cli-import-settings)"
    docker-compose exec -T -u build console tideways import "$TIDEWAYS_SERVERKEY"
    echo "Imported Tideways CLI key"

command('db import <database_file>'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
    DATABASE_FILE: = input.argument('database_file')
  exec: |
    #!bash(workspace:/)|=
    passthru docker-compose exec -u build console app database:import "$DATABASE_FILE"

command('harness update existing'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)|@
    ws disable
    rm -rf .my127ws
    ws install --step=download
    ws harness prepare
    touch .my127ws/.flag-built
    ws refresh
    ws exec app overlay:apply
    ws exec composer install
    ws exec app migrate
    ws exec app welcome

command('harness update fresh'):
  env:
    COMPOSE_PROJECT_NAME: = @('namespace')
  exec: |
    #!bash(workspace:/)|@
    ws disable || true
    rm -rf .my127ws
    ws install

command('generate token <length>'):
  env:
    LENGTH: = input.argument('length')
  exec: |
    #!php
    $ascii_codes = range(48, 57) + range(97, 122) + range(65, 90);
    $codes_length = (count($ascii_codes)-1);
    shuffle($ascii_codes);
    $string = '';
    for($i = 1; $i <= $env['LENGTH']; $i++) {
        $previous_char = $char ?? '';
        $char = chr($ascii_codes[random_int(0, $codes_length)]);
        while($char == $previous_char){
            $char = chr($ascii_codes[random_int(0, $codes_length)]);
        }
        $string .= $char;
    }
    echo $string;

command('lighthouse'):
  exec: |
    #!bash(workspace:/)|@
    passthru docker-compose run --rm lighthouse
