function('host_architecture', [style]): |
  #!php
  $arch = php_uname('m');
  if ($style == 'native') {
    $result = $arch;
  } else if (empty($style) || $style == 'go') {
    $goArchMap = [
        'i386' => '386',
        'x86_64' => 'amd64',
        'aarch64' => 'arm64',
        'armv7l' => 'arm',
        'armv6l' => 'arm',
    ];
    $result = $goArchMap[$arch] ?? $arch;
  } else {
    throw new \Exception(sprintf('error: unknown host_architecture style "%s"', $style));
  }
  = $result;

function('to_yaml', [data]): |
  #!php
  $yaml = \Symfony\Component\Yaml\Yaml::dump($data, 100, 2));
  if (is_array($data) && count($data) > 0) {
    $yaml = "\n" . rtrim(preg_replace('/^/m', '  ', $yaml), "\n");
  }
  = $yaml;

function('to_nice_yaml', [data, indentation, nesting]): |
  #!php
  $yaml = \Symfony\Component\Yaml\Yaml::dump($data, 100, $indentation ?: 2);
  if (is_array($data) && count($data) > 0) {
    $yaml = "\n" . rtrim(preg_replace('/^/m', str_repeat(' ', $nesting ?: 2), $yaml), "\n");
  }
  = $yaml;

function('indent', [text, indentation]): |
  #!php
  = preg_replace('/^/m', str_repeat(' ', $indentation ?: 2), $text);

function('deep_merge', [arrays]): |
  #!php
  // source https://api.drupal.org/api/drupal/includes%21bootstrap.inc/function/drupal_array_merge_deep_array/7.x
  $deepMerge = function ($arrays) use (&$deepMerge) {
    $result = array();
    foreach ($arrays as $array) {
        if ($array === null) { continue; }
        foreach ($array as $key => $value) {
            // Renumber integer keys as array_merge_recursive() does. Note that PHP
            // automatically converts array keys that are integer strings (e.g., '1')
            // to integers.
            if (is_integer($key)) {
                $result[] = $value;
            }
            elseif (isset($result[$key]) && is_array($result[$key]) && is_array($value)) {
                $result[$key] = $deepMerge(array(
                    $result[$key],
                    $value,
                ));
            }
            else {
                $result[$key] = $value;
            }
        }
    }
    return $result;
  };
  = $deepMerge($arrays);

function('filter_local_services', [services]): |
  #!php
  $filteredServices = [];
  foreach ($services as $serviceName => $service) {
    $filteredService = [];
    foreach ($service as $key => $value) {
      switch ($key) {
        case 'enabled':
        case 'environment':
        case 'environment_dynamic':
        case 'image':
        case 'resources':
          $filteredService[$key] = $value;
      }
    }
    if (count($filteredService) > 0) {
      $filteredServices[$serviceName] = $filteredService;
    }
  }
  foreach ($filteredServices as $serviceName => $service) {
    if (!isset($service['environment_dynamic'])) {
      $filteredServices[$serviceName]['environment_dynamic'] = [];
    }
  }
  = $filteredServices;

function('flatten', [array_input]): |
  #!php
  $iterator = new RecursiveIteratorIterator(new RecursiveArrayIterator($array_input));
  = iterator_to_array($iterator, false);

function('get_docker_external_networks'): |
  #!php
  $configRaw = shell_exec('docker-compose config');
  if ($configRaw === null) {
    exit(1);
  }
  $config = \Symfony\Component\Yaml\Yaml::parse($configRaw);
  $externalNetworks = [];
  if (isset($config['networks'])) {
    foreach ($config['networks'] as $network) {
      if (isset($network['external'])) {
        if (is_array($network['external'])) {
          $externalNetworks[] = $network['external']['name'];
        } else if ($network['external'] === true) {
          $externalNetworks[] = $network['name'];
        }
      }
    }
  }
  = join(" ", $externalNetworks);

function('docker_service_images', [filterService]): |
  #!php
  $configRaw = shell_exec('docker-compose config');
  if ($configRaw === null) {
    exit(1);
  }
  $config = \Symfony\Component\Yaml\Yaml::parse($configRaw);
  $images = [];

  foreach ($config['services'] as $serviceName => $service) {
    if ($filterService && $serviceName != $filterService) {
      continue;
    }

    $imageSpec = [
      'image' => $service['image'] ?? null,
      'platform' => $service['platform'] ?? null,
      'upstream' => [],
    ];

    $aliases = [];

    if ($imageSpec['image'] && strpos($imageSpec['image'], ':') === false) {
      $imageSpec['image'] .= ':latest';
    }

    if (isset($service['build'])) {
      $dockerfilePath = $service['build']['dockerfile'] ?? 'Dockerfile';
      if (substr($dockerfilePath, 0, 1) !== '/') {
        $dockerfilePath = rtrim($service['build']['context'], '/') . '/' . $dockerfilePath;
      }

      if (preg_match_all('/^FROM\s+(?:--platform=([^\s]+)\s+)?([^\s]*)(?:\s+AS\s+([^\s]+))?/mi', file_get_contents($dockerfilePath), $matches, PREG_SET_ORDER) === false) {
        continue;
      }

      foreach ($matches as $match) {
        // Skip FROM <existing-alias>, as only the upstream images needed
        if (in_array($match[2], $aliases)) {
          continue;
        }
        // Docker uses :latest tag if no explicit tag listed
        if ($match[2] != 'scratch' && strpos($match[2], ':') === false) {
          $match[2] .= ':latest';
        }
        if (isset($match[3])) {
          $aliases[] = $match[3];
        }
        switch ($match[1]) {
          case '$BUILDPLATFORM':
            $platform = null;
            break;
          case '$TARGETPLATFORM':
          case null:
            $platform = $imageSpec['platform'];
            break;
          default:
            $platform = $match[1];
        }
        $imageSpec['upstream'][] = [
          'image' => $match[2],
          'platform' => $platform,
        ];
      }
    }
    $images[$serviceName] = $imageSpec;
  }

  = $images;

function('get_docker_registry', [dockerRepository]): |
  #!php
  $dockerRepoParts = explode('/', $dockerRepository);
  if (strpos($dockerRepoParts[0], '.') !== false) {
      $registry = $dockerRepoParts[0];
  }
  = $registry ?? 'https://index.docker.io/v1/';

function('docker_config', [registryConfig]): |
  #!php
  $config = [
    'auths' => [
      $registryConfig['url'] => [
        'auth' => base64_encode($registryConfig['username'].':'.$registryConfig['password'])
      ]
    ]
  ];

  = json_encode($config);

function('branch'): |
  #!bash(workspace:/)
  =$(git branch | grep \* | cut -d ' ' -f2)

function('slugify', [text]): |
  #!php
  $text = preg_replace('~[^\pL\d]+~u', '-', $text);
  $text = iconv('utf-8', 'us-ascii//TRANSLIT', $text);
  $text = preg_replace('~[^-\w]+~', '', $text);
  $text = trim($text, '-');
  $text = preg_replace('~-+~', '-', $text);
  $text = strtolower($text);
  = $text;

function('php_fpm_exporter_scrape_url', [hostname, pools]): |
  #!php
  $text = join(
      ',',
      array_map(
        function ($pool) use ($hostname) {
          return 'tcp://' . $hostname .':' . $pool['port'] . '/status';
        },
        $pools
      )
    );
  = $text;

function('publishable_services', [services]): |
  #!php
  $pushServices = array_map(
    function ($serviceName, $service) {
      return ($service['publish'] ?? false) ? $serviceName : null;
    },
    array_keys($services),
    $services
  );
  = join(' ', array_filter($pushServices));

function('replace', [haystack, needle, replacement]): |
  #!php
  = str_replace($needle, $replacement, $haystack);

function('template_key_value', [template, key_value]): |
  #!php
  $output = [];
  foreach ($key_value as $key => $value) {
    $output[str_replace('{{key}}', $key, $template)] = $value;
  }
  = $output;

function('version_compare', [version1, version2, operator]): |
  #!php
  $count1 = substr_count($version1, '.');
  $count2 = substr_count($version2, '.');
  $version1 .= str_repeat('.0', max(0, $count2 - $count1));
  $version2 .= str_repeat('.0', max(0, $count1 - $count2));
  = version_compare($version1, $version2, $operator);

function('bool', [value]): |
  #!php
  if (is_bool($value)) {
    return $value;
  }
  switch ($value) {
    case 'yes':
    case 'true':
      return true;
    case 'no':
    case 'false':
      return false;
  }
  echo 'error: unknown boolean string "'.$value.'"'."\n";
  exit(1);

function('boolToString', [value]): |
  #!php
  switch ($value) {
    case true: return 'yes';
    case false: return 'no';
  }
  echo 'error: unknown boolean "'.$value.'"'."\n";
  exit(1);
