{{- with .Values.docker.services.tideways -}}
{{- if $.Values.service.tideways | default .enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $.Values.resourcePrefix }}tideways
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  labels:
    app.service: {{ $.Values.resourcePrefix }}tideways
spec:
  replicas: 1
  selector:
    matchLabels:
      app.service: {{ $.Values.resourcePrefix }}tideways
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.service: {{ $.Values.resourcePrefix }}tideways
    spec:
      containers:
      - image: {{ .image | quote }}
        imagePullPolicy: Always
        name: tideways
        ports:
        - containerPort: 9135
        resources:
          limits:
            memory: {{ $.Values.resources.memory.tideways | default .resources.memory }}
          requests:
            memory: {{ $.Values.resources.memory.tideways | default .resources.memory }}
        readinessProbe:
          tcpSocket:
            port: 9135
          initialDelaySeconds: 5
          periodSeconds: 10
      restartPolicy: Always
status: {}
{{- end }}
{{- end }}
